<!-- <p>User with ID _ID_ loaded.</p>
<p>User name is _NAME_</p> -->
<p>User with ID {{user.id}} loaded.</p>
<p>User name is {{user.name}}</p>
<!-- <a (click)="changeParams()">ChangeDynamicParams</a>
<a [routerLink]="['/users',5,'Abhishek']">ChangeDynamicParams</a> -->