<label>Username</label>
<input class="form-control" type="text" [(ngModel)]="username" />
<!-- <button (click)="username=''" [disabled]="!username">Add</button> -->
<p>{{username}}</p>
<button class="btn btn-primary" (click)="username=''" [disabled]="username?false:true">Reset User</button>
<!-- <button class="btn btn-primary" (click)="username=''" [disabled]="username === ''">Reset User</button> -->
