<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" (click)="onStartClick()">Start</button>
            <button class="btn btn-danger" (click)="onStopClick()">Stop</button>
        </div>
    </div>
</div>