<button (click)="toggleDisplay()" class="btn btn-primary">Display Details</button>
<p *ngIf="isDisplay">Secret Password</p>


<!-- Simple Count -->
<!-- <p 
*ngFor="let count of counterArray"
[ngStyle]="{backgroundColor:count >=5 ? 'blue':'transparent'}"
[ngClass]="{change:count >= 5}"
>{{count}}</p> -->

<!-- Timestamp count -->
<p *ngFor="let time of counterArray;let i=index"
[ngStyle]="{backgroundColor:i >=4 ? 'blue':'transparent'}"
[ngClass]="{change:i >= 4}"
>{{time}}</p>