<div class="container">
    <div class="row">
        <div class="col-xs-12">            
            <p>practice works!</p>
            <hr>
            <practice-servers></practice-servers>
            <!-- <div practice-server></div> selector as attribute -->
        </div>
    </div>
</div>