
<!-- Property Binding -->
<!-- <button class="btn btn-primary" [disabled]="!btnDisable">Add Server</button> -->
<!-- String interpolation with property binding -->
<!-- <p [innerText]="btnDisable"></p> -->


<!-- Event Binding -->
<!-- <button class="btn btn-primary" (click)="handleClick()">Add Server</button>
<p>{{serverCreated}}</p> -->

<!-- Passing data in event binding -->
<!-- <label>Server Name</label>
<input type="text" class="form-control" (input)="handleInput($event)" /> -->
<!-- <p>{{serverName}}</p>  -->
<!-- Two-way-binding -->
<!-- ngModel used if import {FormsModule} from '@angular/forms' in module.ts file-->
<!-- <label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>{{serverName}}</p> -->

<practice-server></practice-server>
<!-- <practice-server></practice-server> -->
