<app-header (featured)="handleFeatured($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <app-recipes *ngIf="currentTab === 'recipe'" ></app-recipes>
            <app-shopping-list *ngIf="currentTab === 'shopping-list'"></app-shopping-list> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



