<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="!onlyOdd">
          <li 
          class="list-group-item" 
          *ngFor="let number of evenNumbers"
          [ngClass]="{odd:number%2 !== 0}"
          
          >
            {{number}}
          </li>
        </div>
        <div *ngIf="onlyOdd">
          <li 
          class="list-group-item" 
          *ngFor="let number of oddNumbers"
          [ngClass]="{odd:number%2 !== 0}"
          [ngStyle]="{backgroundColor:number%2 !== 0 ? 'yellow':''}"
          >
            {{number}}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p basicHighlight>This is basic custom directive </p>
      <!-- <p appBetterHighlight>This is better directive </p> -->
      <!-- <p appBetterHighlight defaultColor="red" [highlightColor]="'yellow'">This is better directive </p> -->
      <p appBetterHighlight="red" [highlightColor]="'yellow'">This is better directive </p>
      <p *appUnless="onlyOdd">Custom structural directive only even run as else condition</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">5</p>
        <p *ngSwitchCase="4">4</p>
        <p *ngSwitchCase="15">15</p>
        <p *ngSwitchDefault>Default</p>

      </div>
    </div>
  </div>
</div>