<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- Assignment - 1 -->
            <!-- <success-alert></success-alert>
            <warning-alert></warning-alert> -->
            
            <!-- Assignment-2 -->
            <!-- <assignment-binding></assignment-binding> -->

            <!-- Assignmane-2 -->
            <!-- <assignment-two></assignment-two> -->

            <!-- Assignment-3 -->
            <!-- <assignment-gamecontrol 
            (intervalFired)="handleStartClick($event)">
            </assignment-gamecontrol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <assignment-game-odd *ngFor="let oddNumber of oddNumbers" [oddNumber]="oddNumber"></assignment-game-odd>
            <assignment-game-even *ngFor="let evenNumber of evenNumbers" [evenNumber]="evenNumber"></assignment-game-even>
        </div>
    </div> -->
</div>
