<div class="container">
    <practice-databinding-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"    
    >

    </practice-databinding-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <!-- <practice-databinding-server-element 
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
        ></practice-databinding-server-element> -->
        <!-- Assigning Alias to property [srvElement] -->
        <button class="btn btn-primary" (click)="onChangeClick()">Changes First Element</button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Element</button>
        <practice-databinding-server-element 
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
        >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </practice-databinding-server-element>
      </div>
    </div>
  </div>
  