<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a> -->
      <!-- [fragment]="'loading'" or fragment="loading"-->
      <!-- <a
        [routerLink]="['/servers',1,'edit']"
        [queryParams]="{editFile:1}"      
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a> -->
      <a
        [routerLink]="['/servers',server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"      
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <a class="btn btn-primary" (click)="onBtnClick(1)">ServerNavigate</a>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

