<!-- <p>This is server component</p> -->


<!-- String Interpolation -->
<!-- Boolean ex;- false change into "false" -->
<!-- Number ex:- 10 change to "10" -->
<!-- <p>Server with id {{serverId}} is {{serverStatus}}</p> -->

<!-- method used in string interpolation return string-->
<!-- <p>Server with id {{serverId}} is {{getServerStatus()}}</p> -->
<!-- Object return from method -->
<!-- <p>Server with id {{getServerStatus().id}} is {{getServerStatus().status}}</p> -->


<!-- Built in *ngIf Directive -->

<!-- <button (click)="serverCreated()">Show Server</button> -->
<!-- <p *ngIf="isServer">Server with id {{serverId}} is {{serverStatus}}</p> -->

<!-- Built In *ngIf with Else -->
<!-- <p *ngIf="isServer; else servernot">Server with id {{serverId}} is {{serverStatus}}</p>
<ng-template #servernot>
    <p >Server was not created.</p>
</ng-template> -->



<!-- ngStyle -->
<!-- <p [ngStyle]="{backgroundColor:changeColor()}">Server with id {{serverId}} is {{serverStatus}}</p> -->
<!-- <p>Server with id {{serverId}} is {{serverStatus}}</p> -->



<!-- ngClass -->
<!-- <p
[ngStyle]="{backgroundColor:changeColor()}" 
[ngClass]="{online:serverStatus === 'online'}"
>
Server with id {{serverId}} is {{serverStatus}}
</p> -->


<!-- ngFor -->
<button (click)="handleAdd()">Add More</button>
<p
[ngStyle]="{backgroundColor:changeColor()}" 
[ngClass]="{online:serverStatus === 'online'}"
*ngFor = "let server of serversArray"
>
Server with id {{serverId}} is {{serverStatus}}
</p>





<!-- <practice-servers></practice-servers> -->